.u-section-1 .u-sheet-1 {
  min-height: 99px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 30px 429px 30px auto;
  padding: 8px 77px 8px 76px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-right: 229px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-right: 9px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-custom-html-1 {
  margin-bottom: 60px;
}